github_uploader.sh
GPL_AX12v1/Iplatform/openwrt/dl/LinuxART2CS10.2v4.9.289.tar.bz2
GPL_AX12v1/Iplatform/openwrt/dl/samba-3.6.25.tar.gz
GPL_ MR62X/openwrt/dl/LinuxART2CS10.2v4.9.289.tar.bz2
GPL_ MR62X/openwrt/dl/samba-3.6.25.tar.gz
