config WFO_VIRT
	tristate "Realtek WFO VIRT driver"
	default n
	help
	Realtek WFO VIRT driver.

if WFO_VIRT
	config WFO_VIRT_DEVNAME
		string "WFO virtual driver's name"
		default "wlan"
		help
		  WFO virtual driver's name

	choice
		prompt "WiFi Offload Interface"
		default WFO_OFFLOAD_2G

		config WFO_OFFLOAD_2G
			bool "Offload 2G WiFi"

		config WFO_OFFLOAD_5G
			bool "Offload 5G WiFi"
	endchoice
endif

choice
	prompt "IPC Destination"
	depends on WFO_VIRT
	default WFO_VIRT_IPC_TO_PE

	config WFO_VIRT_IPC_TO_PE
		bool "Send to PE"

	config WFO_VIRT_SAME_CPU
		bool "Run on Linux"
endchoice

choice
	prompt "PHL Version"
	depends on WFO_VIRT
	default PHL_AP_BRANCH_V1_2_3

	config PHL_AP_BRANCH_V1_2_3
		bool "ap/branch/v1.2.3"

	config AP_015_52C_DEVP
		bool "ap/015_52c_devp"
endchoice

