CONFIG_TARGET_realtek=y
CONFIG_TARGET_realtek_rtl8197f=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_DEVICE_realtek_rtl8197f_DEVICE_xiaomi_r4_rd05=y
CONFIG_TARGET_DEVICE_realtek_rtl8197f_DEVICE_tenda_nova_mw5=y
CONFIG_TARGET_DEVICE_realtek_rtl8197f_DEVICE_tenda_ac23=y
